body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.deer-image {
    position: relative;
}
.cut-text {
    width: 940px;
    position: absolute;
    top: 320px;
    left: 120px;
}

#loin-section:hover {
    opacity: 0.5;
}

/*
.top-round,
.bottom-round,
.flank,
.rump,
.leg,
.shoulder {
    opacity: 0.2;
}
*/